.grid {
    display:block;
    position:relative;
    width: 650px;
    height: 650px;
    background-color: black;
    padding-top: 10px;
    padding-left: 10px;

}

.container {
    display:inline-block;
    position:relative;
    width: 216px;
    height: 216px;
}

.cell {
    display:inline-block;
    position:relative;
    padding:20px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    width: 25px;
    height: 25px;
}